<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seyun.CodeStudy.mapper.TagMapper">

    <!-- 태그 검색 -->
    <select id="findTagByTagContent" resultType="com.seyun.CodeStudy.model.lecture.Tag">
        SELECT
            *
        FROM
            tb_tag
        WHERE
            tag_content = #{tagContent}
    </select>

    <!-- 태그 생성 -->
    <insert id="createTag">
        INSERT INTO tb_tag (
            tag_content
        ) VALUES (
            #{tag_content}
        )
    </insert>

    <!-- 태그 카운트 증가 -->
    <update id="addTagCount">
        UPDATE
            tb_tag
        SET
            tag_count = tag_count + 1
        WHERE
            tag_id = #{tagId}
    </update>

</mapper>