<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body th:fragment="main-body">
    <header>
    <div class="topbar">
        <h1>CodeStudy</h1>
        <div sec:authorize="isAuthenticated()" class="top_menu">
            <div class="login_user">
                <strong>
                    로그인 되었습니다.
                </strong>
            </div>
            <div class="logout">
                <button type="button" th:onclick="|location.href='@{/logout}'|">
                    <span>
                        <i class="fa-solid fa-right-from-bracket" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
        </div>
        <div sec:authorize="isAnonymous()" class="top_menu">
            <div class="login_user">
                <strong>
                    로그인 해주세요.
                </strong>
            </div>
            <div class="login">
                <button type="button" th:onclick="|location.href='@{/auth/login}'|">
                    <span>
                        <i class="fa-solid fa-right-to-bracket" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
    </header>
    <aside class="side-bar">
        <section class="side-bar__icon-box">
            <section class="side-bar__icon-1">
                <div></div>
                <div></div>
                <div></div>
            </section>
        </section>
        <ul>
            <li>
                <a href="/lecture/list">강의 목록</a>
            </li>
            <li>
                <a href="/post/list">게시판</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="#">내 정보</a>
                <ul>
                    <li><a href="">내가 쓴 글</a></li>
                    <li><a href="/auth/myPage">정보 수정</a></li>
                </ul>
            </li>
        </ul>
    </aside>
    <div class="wrap">
        <th:block layout:fragment="content"></th:block>
    </div>

    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <th:block layout:fragment="script"></th:block>
</body>

</html>