<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="main-head">

    <th:block layout:fragment="title"></th:block>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/default.css}"/>
    <link rel="stylesheet" th:href="@{/css/reset.css}"/>

    <th:block layout:fragment="add-css"></th:block>
</head>

</html>